.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar {
    margin-bottom: 2rem;
}

footer {
    margin-top: auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
}